@font-face{
    font-family: MonogramFuenteCustom;
    src: url(../fonts/Monogram-Holder.ttf);
}

body{
    background-size: cover;
    text-align: center;
}

h1{
    margin-top: 163px;
    margin-bottom: 9px;
    color: #FFD700;
    font-family: MonoGramFuenteCustom, Georgia, 'Times New Roman', Times, serif;
    font-size: 68px;
    text-shadow: 4px 0 #DAA520;
    cursor: pointer;
}

h2{
    margin-bottom: 27px;
    color: #008080;
    text-shadow: 4px 0 #FFFFFF;
}

div{
    background-color: #FFF0F5;
    opacity: 0.8;
    margin: auto;
    width: 25rem;
    font-size: 26px;
    border-radius: 10px;
    border: solid #FFD700 4px;
}


span{
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    height: 33px;
    width: 34px;
    transition: color 500ms, transform 500ms;
}

span:hover{
    transform: scale(1.09,1.09);
}

button{
    cursor: pointer;
    color: #008000;
    background-color: #FFFF00;
    border: solid #008000;
    border-radius: 6px;
    font-family: MonoGramFuenteCustom, Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    transition: color 500ms, transform 500ms;
}

button:hover{
    color: #FFFFFF;
    text-shadow: 2px 0 #008000;
    transform: scale(1.09,1.09);
}

footer{
    margin-top: 164px;
}

footer:hover{
    font-weight: bold;
}